body {
  background-color:lightskyblue;
}
p {
  color: white;
  font-family: cursive
}
h1 {
  font-weight: bold;
  text-decoration: underline;
  font-family:cursive;
  color:black;
  
}
ol {
  font-weight: bold;
  text-decoration: underline;
  font-family:cursive;
  color:black;
}
img { float: right;
  height: 275px;
  width:275px;
  margin:22px;
  border-style:dashed; 
  border-color: white;
  border-radius:50px;
}
.copyright{
  height: 30px;
  width:100px;
    
