body {
  background-color: lightskyblue;
}
p {
  color: white;
  font-family: cursive
}
h1 {
  font-weight: bold;
  text-decoration: underline;
  font-family: cursive;
}
li {
  font-weight: 800;
  font-family: cursive
}
img { float: right;
  height: 350px;
  width:375px;
  margin:22px;
  border-style:dashed; 
  border-color: black;
  border-radius:50px;
}
.copyright{
  height: 30px;
  width:100px;
}
 
